<nav class="navbar navbar-inverse navbar-static-top">
    <div class="container-fluid">
      <div class="navbar-header">
        <%= link_to 'Cine Lib', root_url, class: 'navbar-brand' %>
      </div>
    </div>  
  </nav>